.Home{
    width: 100%;
    height: 100%;
    background-image: url('../imagem/nat-gif.gif');
    img{
        width: 50px;
        height: 100%;
    }      
     @media(min-width: 426px){
         .Home{
            background-image: none;
                }
            }
}
    footer{
        width: 100%;
        height: 100px;;
        background-color:black;
        display: flex;
        align-items: center;
        justify-content: center;
        .icone{
            margin-bottom: 13px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
                        a{
                            width:100%;
                            height: 20px;
                            background-color:black;
                            img{
                
                                width: 40px;
                                height: 40px;
                                margin-left: 50px;
                            }
                        }
        }
    }

article{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
article img{
    width: 100%;
}

