.FinalE{

    
    
    .texto{
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        color:white;
        font-size:15pt;
        h1{
            color:  #64cd2a;
        }
        
        .Final{
            background-color: rgba(129, 123, 123, 0.788); 
            border-radius: 30px;
            width: 320px;
            height: 490px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-items: center;
            text-align: left;
            
            
            
            
        }
        p{
            margin-top: 5px;
        }
    
    }

    
    }