.lista{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(0, 0, 0, 0.199);
    background-color: black;
    a{
        margin-right: 90px;
        text-decoration: none;
    }
    button{
        width: 150px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        border: none;
        background-color:#64cd2a;
        color: white;
        font: 16px;
        cursor: pointer;


    }
    img{
        width: 250px;
        border-radius: 20px;
        border: 5px solid #64cd2a;
        margin-top: 20px;
    } 
    h1{
        color: #64cd2a;
        margin-top: 100px;
        font-size: 30pt;
    }
    p{
            background-color: rgba(129, 123, 123, 0.788);
            border-radius: 30px;
            padding: 20px;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            h2{
                font-size: 13pt;
                text-decoration: none;
            }
    }
    div{
        width: 300px;
        height: 3px;
        margin-top: 15%;
        background-color:#64cd2a;
    }
    
}