.Cursos{
    margin-top: 79px;
    background-size: cover;
    width: 100%;
    background-color: black;

    form{
        margin-left:50px;
    }
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #64cd2a;
    }
    

    .formu{
        outline: none;
        width:70%;
        height: 26px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        font-size: 16pt;
        border-top: black;
        border-right: black;
        border-left: black;
        color: white;
        margin: 20px;
        border-bottom-color: #64cd2a;
        &::placeholder{
            color:white;
            text-align: center;
        }
        
        
        
    }
    select{
        width: 70%;
        height: 30px;
        outline: none;
        margin-bottom: 10px;
        padding: 0 10px;
        border-color:#64cd2a;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color:rgba(211, 204, 204, 0.973);
        margin: 20px;
        
    }
    label{
        margin-left: 20px;
        color: #64cd2a;
  }
  
}
