button{
    width: 80px;
    height: 40px;
    background-color: #64cd2a;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}