.Cadastro{
  background-size: cover;
  width: 100%;
  background-color:rgba(211, 204, 204, 0.973);

  form{
      margin-top: 20px;
      margin-left:50px;
  }
  h1{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #64cd2a;
  }
  

  .formu{
      width:70%;
      height: 26px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border-radius: 10px;
      margin: 20px;
      background-color: white;
      border-color: #64cd2a;
      &::placeholder{
          color:white;
          text-align: center;
      }
      
      
      
  }
  select{
      width: 70%;
      height: 30px;
      outline: none;
      margin-bottom: 10px;
      padding: 0 10px;
      border-color:#64cd2a;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      background-color:rgba(211, 204, 204, 0.973);
      margin: 20px;
      
  }
  label{
      margin-left: 20px;
      color:white;
}

}
